body {
    background-color: powderblue;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    background-color:yellowgreen;
    color: white;
}

.redlink:hover{
    background-color: red;
    color: white;
}

.indent {
    margin-left: 10px;
    color:red;
}

.space_below {
    margin-bottom: 30px;
}