body {
    font-family: 'ABeeZee', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.bg-img {
    background-image: linear-gradient(to bottom, rgba(4, 24, 30, 0.555), rgba(29, 23, 4, 0.438)),
        url(shelf1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    min-height: 100vh;
    width: 100%;
}

.myNav {
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 2% 6%;
    background: #2f474e04;
}

.myNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 2px solid transparent;
}

.myNav a:hover {
    border-bottom: 2px solid red;
}




