.myNav {
    font-size: 18px;
    overflow: auto;
    padding: 16px 12px;

}

.myNav a{

  
}
.myNav form{
    cursor: pointer;
    margin-right: center;
}

.carousel-inner img{
    max-height: 400px;
    width: 100%;
}

